<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up | Lagging Legends</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
</head>

<body>
    <%- include('../partials/nav.ejs') %>
        <section class="sign-up-section">
            <main class="sign-up-main">
                <h1 class="sign-up-title">Create an Account!</h1>

                <form class="sign-up-form" action="/auth/sign-up" method="POST">

                    <!-- Email Address -->
                    <div class="input-container">
                        <label for="email" class="input-label">Email</label>
                        <input type="email" name="email" class="input-field" placeholder="Email Address" required>
                    </div>

                    <!-- Username -->
                    <div class="input-container">
                        <label for="username" class="input-label">Username</label>
                        <input type="text" name="username" class="input-field" placeholder="Username" required>
                    </div>

                    <!-- Password -->
                    <div class="input-container">
                        <label for="password" class="input-label">Password</label>
                        <input type="password" name="password" class="input-field" placeholder="Password" required>
                    </div>

                    <!-- Password Confirmation -->
                    <div class="input-container">
                        <label for="passwordConfirmation" class="input-label">Confirm password</label>
                        <input type="password" name="passwordConfirmation" class="input-field"
                            placeholder="Confirm password" required>
                    </div>

                    <!-- Error message -->
                    <% if (errorMessage) { %>
                        <p class="error-message">
                            <%= errorMessage %>
                        </p>
                        <% } %>

                            <!-- Submit -->
                            <button type="submit" class="submit-btn">Create an account!</button>
                </form>
            </main>
        </section>
</body>

</html>