<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Not Found</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
</head>

<%- include('./partials/nav.ejs') %>

<body>
    <main class="error-main">
        <div class="error-message">
            <h1>Page Not Found!</h1>
            <a href="/games/explore" class="back-home-link">Back to Explore page</a>
        </div>
    </main>
</body>

</html>
