
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: rgb(26, 26, 26);
    color: rgb(255, 255, 255);
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    padding: 20px;
}

a {
    text-decoration: none;
    color: rgb(255, 111, 97);
    font-weight: bold;
    margin-bottom: 20px;
    display: inline-block;
    font-size: 1.1rem;
}

a:hover {
    text-decoration: underline;
}

.home-main, .sign-up-main, .explore-main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1000px;
    width: 100%;
    background-color: rgb(51, 51, 51);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    margin-top: 30px;
    flex-direction: column;
    margin-bottom: 40px;
}


.home h1, .sign-up-main h1, .explore-main h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: rgb(255, 111, 97);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 100%;
}

.input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

label {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

input {
    padding: 10px;
    width: 100%;
    font-size: 1rem;
    border: 2px solid rgb(85, 85, 85);
    border-radius: 10px;
    background-color: rgb(34, 34, 34);
    color: white;
    outline: none;
}

input:focus {
    border-color: rgb(255, 111, 97);
}

button {
    background-color: rgb(255, 111, 97);
    color: white;
    border: none;
    padding: 15px 25px;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
}

button:hover {
    background-color: rgb(229, 91, 74);
}

.error-message {
    color: rgb(255, 111, 97);
    background-color: rgb(51, 51, 51);
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

form a {
    color: rgb(169, 169, 169);
    font-size: 0.9rem;
}

form a:hover {
    color: rgb(255, 111, 97);
}

.explore-main {
    width: 100%;
    max-width: 1000px;
    padding: 20px;
    margin: 0 auto;
}

.games {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.game-card {
    background-color: rgb(34, 34, 34);
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

.game-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
}

.game-title {
    font-size: 1.5rem;
    color: rgb(255, 111, 97);
    font-weight: bold;   
    letter-spacing: 1px;
}

.game-title:hover {
    text-decoration: underline;
}

.show-game-main {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #333;
    border-radius: 15px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    margin-top: 30px;
    margin-bottom: 40px;
}

.game-interactions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    height:fit-content
}

.game-actions a {
    background-color: rgb(255, 111, 97);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
}

.game-actions a:hover {
    background-color: rgb(229, 91, 74);
}

.delete-btn {
    background-color: rgb(255, 111, 97);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: rgb(229, 91, 74);
}

.game-image-container {
    text-align: center;
    margin-bottom: 20px;
}

.game-image {  
    height: 80%;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.game-details {
    text-align: center;
    margin-bottom: 20px;
}

.game-title-details {
    font-size: 2.5rem;
    color: rgb(255, 111, 97);
    margin-bottom: 10px;
}

.game-author {
    font-size: 1.2rem;
    color: rgb(169, 169, 169);
    margin-bottom: 10px;
}

.tags {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
    list-style-type: none;
}

.tag-item {
    background-color: rgb(85, 85, 85);
    padding: 5px 10px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-size: 1rem;
}

.game-description {
    font-size: 1.2rem;
    line-height: 1.6;
    color: rgb(255, 255, 255);
    text-align: justify;
    margin-top: 20px;
}
