<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add | Lagging Legends</title>
</head>

<body>
    <%- include('../partials/nav.ejs') %>

    <main class="add-game-main">
        <h1 class="add-game-title">Add a Game for all to see!</h1>

        <form class="add-game-form" action="/games" method="POST" enctype="multipart/form-data">

            <!-- Game Image -->
            <div class="input-container">
                <label for="gameImage" class="input-label">Game Image</label>
                <input type="file" name="gameImage" id="gameImage" accept="image/*" size="3000" class="input-field">
            </div>

            <!-- Title -->
            <div class="input-container">
                <label for="title" class="input-label">Title</label>
                <input type="text" name="title" id="title" class="input-field" required maxlength="150">
            </div>

            <!-- Content -->
            <div class="input-container">
                <label for="description" class="input-label">Game description</label>
                <textarea name="description" id="description" class="input-field" required></textarea>
            </div>

            <!-- Tags -->
            <div class="input-container">
                <label for="tags" class="input-label">Add tags to your game</label>
                <select name="tags" id="tags" class="input-field" multiple required>
                    <option value="Strategy">Strategy</option>
                    <option value="Adventure">Adventure</option>
                    <option value="Simulation">Simulation</option>
                    <option value="RPG">RPG</option>
                    <option value="Arcade">Arcade</option>
                    <option value="Action">Action</option>
                    <option value="Shooter">Shooter</option>
                </select>
            </div>

            <!-- Error -->
            <% if (errorMessage) { %>
                <p class="error-message"><%= errorMessage %></p>
            <% } %>

            <!-- Submit -->
            <button type="submit" class="submit-btn">Add to Explore!</button>
        </form>
    </main>
</body>

</html>
